.form-reg {
    margin-top: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.form-group {
    display: flex;
    flex-direction: column;

}

.btn-reg {
    margin-top: 10px;
}