.preview {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.preview-imgs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.file-preview {
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5%;
}

.file-preview-denoised {
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
}

.preview-subm {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: bold;
}

.btn-start {
    background-color: rgb(236, 18, 18);
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 15px 30px;
}

.btn-start:hover {
    background-color: rgba(0, 0, 0, 0.8);
}