.preview-imgs {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.file-preview,
.file-preview-denoised {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preview-subm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: bold;
}

.btn-start {
    width: 190px;
    height: 60px;
    background-color: rgb(236, 18, 18);
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-start:hover {
    background-color: rgba(0, 0, 0, 0.8);
}