.login {
    width: 120px;
    background-color: silver;
    justify-content: center;
}

.register {
    width: 120px;
    background-color: rgb(211, 67, 56);
    justify-content: center;
}

.login:hover,
.register:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}