.download {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.download-btn {
    background-color: rgb(236, 18, 18);
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 15px 30px;
}

.download-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}